<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="dvmgsmrcontroller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<dvmgsmrcontroller.Properties.Settings>
			<setting name="serialport" serializeAs="String">
				<value />
			</setting>
			<setting name="daemonport" serializeAs="String">
				<value />
			</setting>
			<setting name="daemonaddr" serializeAs="String">
				<value />
			</setting>
			<setting name="gsmrctry" serializeAs="String">
				<value>99</value>
			</setting>
			<setting name="txaudio" serializeAs="String">
				<value />
			</setting>
			<setting name="rxaudio" serializeAs="String">
				<value />
			</setting>
		</dvmgsmrcontroller.Properties.Settings>
	</userSettings>
</configuration>